/* Nunito Sans */
.nunito {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400; /* Choose a weight between 200 and 1000 */
    font-optical-sizing: auto;
}

/* Lexend */
.lexend {
    font-family: "Lexend", serif;
    font-weight: 700; /* Choose a weight between 100 and 900 */
    font-optical-sizing: auto;
}

/* Inter */
.inter {
    font-family: "Inter", serif;
    font-weight: 300; /* Choose a weight between 100 and 900 */
    font-optical-sizing: auto;
}
